body {
  font-family: Arial, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: url('background.png') #fff no-repeat;
}

a,a:hover {
  text-decoration: none;
}

.hide {
  visibility: hidden;
}

button#toggleMessage {
  font-weight: bold;
}

button#toggleMessage.active {
  font-weight: normal;
}

.main-wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 100vh;
}

.message-container {
  margin-inline: auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.message-content {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #5d2b17;
  opacity: .8;
}

.message-content h1 {
  font-size: 48px;
}

.message-content p {
  font-size: 32px;
}

.lyrics-list-container {
  opacity: .5;
  position: fixed;
  left: 0;
  bottom: 0;
}

#lyricsList:empty {
  display: none;
}

#lyricsList li {
  cursor: pointer;
}

#lyricsList li.selected {
  font-weight: bold;
}

.slider-container {
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
}

.slider {
  position: relative;
  height: 200px;
  opacity: .7;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%; /* Ajuste a altura para ocupar todo o contêiner do slider */
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 64px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex; /* Adiciona flexbox para centralizar o texto verticalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  /* font-weight: bold; */
}

.slide.active {
  opacity: 1;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: .5;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#inputLyrics {
  display: none;
}
